			{% if page.home != true %}
			<!-- Start Sidebar -->
			<aside>
				<div id="sidebar">
					
					{% if page.title == 'Contact' %}
					<div class="widget">
						<h5>Location</h5>
						<div class="location_widget">
							<p>
								P.O. Box 160203 <br/>
								Atlanta, GA 30316
							</p>
							<p>
								<span class="icon general">r</span> 678.NWI.7134 <br/>
								<span class="icon general">h</span> <a href="">info@neighborhoodworks.org</a> <br/>
								<span class="icon general">l</span> <a href="">www.neighborhoodworks.org</a>
							</p>
						</div>
					</div>
					{% endif %}
					
					<div class="widget">
						<h5>Other Resources</h5>
						<div class="recent_posts">
							<ul>
								<li>
									<a href="http://rrc-atl.org">Resources for Residents and Communities</a>
								</li>
								<li>
									<a href="http://www.chase.com">Chase Community Giving</a>
								</li>
								<li>
									<a href="http://www.onedekalb.com">O.N.E. DeKalb</a>
								</li>
								<li>
									<a href="http://www.hud.gov">U.S. Department of Housing and Urban Development</a>
								</li>
							</ul>
				
						</div>
					</div>
		
					<div class="widget">
						<h5>Gallery</h5>
						<div class="gallery">
							<ul>
								<li><img src="images/content/gallery_thumb_1.jpg" alt="" /></li>
								<li><img src="images/content/gallery_thumb_2.jpg" alt="" /></li>
								<li><img src="images/content/gallery_thumb_3.jpg" alt="" /></li>
								<li><img src="images/content/gallery_thumb_4.jpg" alt="" /></li>
								<li><img src="images/content/gallery_thumb_5.jpg" alt="" /></li>
								<li><img src="images/content/gallery_thumb_6.jpg" alt="" /></li>
							</ul>
						</div>
			
					</div>	
			
					<div class="widget">
						<h5>Poor Kids | FRONTLINE | PBS</h5>
						<div class="video">
							<iframe src="http://dgjigvacl6ipj.cloudfront.net/media/swf/PBSPlayer.swf?width=215&amp;height=121&amp;video=http://video.pbs.org/videoPlayerInfo/2306814133&amp;player=viral&amp;chapter=1" width="215" height="121"></iframe>
						</div>
						<p style="font-size:11px; font-family:Arial, Helvetica, sans-serif; color: #808080;">Watch <a style="text-decoration:none !important; font-weight:normal !important; height: 13px; color:#4eb2fe !important;" href="http://video.pbs.org/video/2306814133" target="_blank">Poor Kids</a> on PBS. See more from <a style="text-decoration:none !important; font-weight:normal !important; height: 13px; color:#4eb2fe !important;" href="http://www.pbs.org/wgbh/pages/frontline/" target="_blank">FRONTLINE.</a></p>
					</div>
			
				</div>
			</aside>
			<!-- End Sidebar -->
			{% endif %}
		
		</section>
		<!-- End Container -->

	</div>
	<!-- End Page Wrapper -->

	<footer>
		<div class="container">
			<div class="widget one_fourth">
				<h2 class="logo">
					<a href="">
						<img src="images/logo-sm-blue.png" alt="Neighborhood Works, Inc." />
					</a>
				</h2>
				<p>This is a text widget, you can add anything you’d like to this area. Maybe  a little more info about your organization or perhaps even a bit of html.</p>
			</div>
			<div class="widget one_fourth">
				<h5>Twitter</h5>
				
				<div class="twitter_stream"></div>
				
			</div>
			<div class="widget one_fourth">
				<h5>Newsletter</h5>
								
				<form action="http://neighborhoodworks.us6.list-manage2.com/subscribe/post?u=d6753180e28379cf658ffe403&amp;id=8447b093d6" method="post">
					
					<p>Signup to receive breaking news.</p>
					
					<p>
						<label for="name">First *</label>
						<input type="text" name="FNAME" id="FNAME" value="" />
					</p>
					<p>
						<label for="name">Last *</label>
						<input type="text" name="LNAME" id="LNAME" value="" />
					</p>
					<p>
						<label for="email">Email *</label>
						<input type="text" name="EMAIL" id="EMAIL" value="" />
					</p>
					
					<input type="submit" class="button white" value="Signup &#x2192;" />
					
				</form>
			</div>
			<div class="widget one_fourth column_last">
				<h5>Location</h5>
				<div class="location_widget">
					<p>
						P.O. Box 160203 <br/>
						Atlanta, GA 30316
					</p>
					<p>
						<span class="icon general">r</span> 678.NWI.7134 <br/>
						<span class="icon general">h</span> <a href="">info@neighborhoodworks.org</a> <br/>
						<span class="icon general">l</span> <a href="">www.neighborhoodworks.org</a>
					</p>
				</div>
			</div>
			
			<div class="copy">
				<p>Copyright &copy;2012 {{ site.name }} All Rights Reserved.</p>
			</div>
			
		</div>
	</footer>
	
</body>
</html>